<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://github.com/G-Shillcock/G-Shillcock.github.io/blob/0cad04c37925a2dae3d148a4beb9ab70525a1b48/CV.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:g.shillcock@live.com">email</a></li>
	        		<li><a href="https://github.com/G-Shillcock">github.com/G-Shillcock</a></li>
				</ul>
			</footer>
		</body>
	</html>
